<h1><%= @game.player1.name %> vs <%=@game.player2.name %></h1>

<h2><%= @game.player2.name %> attacked <%= @game.player1.name %></h2>

<h2 class='points_player1'><%= @game.player1.name %> has <%=@game.player1.hp%> points</h2>
<h2 class='points_player2'><%= @game.player2.name %> has <%=@game.player2.hp%> points</h2>

<a href='/player_1_turn' class='attack_button'>Attack <%=@game.player2.name %></a>

<style>

.points_player1 {


}

.points_player2 {


}

.attack_button {
    background-color: #e83cdb;
    color: #191970;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px
}

.attack_button:hover {
    transition-delay: 0.10s;

    background-color: #e87ee1;
    color: #191970;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px
}

</style>
