
<body class='start-game'>
  <div>
    <h1 class='headers top'>Let battle commence!</h1>

    <h1 class='fighters'><%= @game.player1.name %> vs <%=@game.player2.name %></h1>

    <h2 class='points-player1'><%= @game.player1.name %> has <%=@game.player1.hp%> points</h2>
    <h2 class='points-player2'><%= @game.player2.name %> has <%=@game.player2.hp%> points</h2>

    <h1 class='headers bottom'><%= @game.player1.name %> starts the battle by attacking <%=@game.player2.name %></h1>

    <a href='/player-1-turn' class='start-game-button'>Start game</a>
  </div>
</body>


<style>

h1 {

  font-family: impact;
  font-size: 2em;
  text-align: center;

}

h2 {

  font-family: impact;
  font-size: 1.75em;
  text-align: center;

}

a {

  font-family: impact;
  font-size: 1.6em;
  text-align: center

}

body {

  background-image: url('http://bit.ly/2damy0y');
  background-repeat: no-repeat;
  background-size: cover;
}

h1.headers.top,
h1.fighters {
  margin-bottom: 0
}

.headers {
  display: block;
  padding: 30px 0px

}

.top {
  font-size: 3.5em;

}

.fighters {
  font-size: 2.5em;

}

.bottom {
  margin-top: 230px;
  color: white

}

.points-player1 {

  float: left;
  width: 500px;

}

.points-player2 {

  float: right;
  width: 500px;

}

.start-game-button {
  background-color: #558000;
  opacity: 0.7;
  color: white;
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  vertical-align: middle;

}

.start-game-button:hover {
  transition-delay: 0.10s;
  background-color: #558000;
  opacity: 0.4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 10px
}

</style>
